/*-------- Fonts --------*/
$font-r: "Lato-Regular";
$font-l: "Lato-Light";
$font-b: "Lato-Bold";
$font-fs-r: "Flintstock-Regular";
$font-fs-rd: "Flintstock-Round";
$font-fs-o: "Flintstock-Oblique";
$font-fs-rd-o: "Flintstock-Round-Oblique";

@import './components/components.scss';