/*-------- Fonts --------*/
/*-------- Colors --------*/
/*-------- Basic --------*/
* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Roboto";
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  max-width: 1417px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.buttons {
  margin-top: 51px;
}

@media (max-width: 1399px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 989px) {
  .buttons {
    margin-top: 40px;
  }
}
@media (max-width: 619px) {
  .buttons {
    margin-top: 25px;
  }
}
@media (max-width: 479px) {
  .container {
    padding: 0 12px;
  }
}
/*-------- Header --------*/
.header {
  width: 100%;
  height: 188px;
  position: absolute;
  top: 0;
  left: 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  width: 378px;
  height: 100%;
  color: #ffffff;
}
.header__logo-icon {
  width: 100%;
  height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-out;
}
.header__logo:hover .header__logo-icon {
  color: #ff9500;
}
.header__link {
  font-size: 20px;
  color: #ffffff;
}
.header__link:hover {
  text-decoration: underline;
}

@media (max-width: 1399px) {
  .header {
    height: 146px;
  }
  .header__logo {
    width: 281px;
  }
}
@media (max-width: 989px) {
  .header__logo {
    width: 230px;
  }
}
@media (max-width: 619px) {
  .header {
    height: 75px;
  }
  .header__logo {
    width: 180px;
  }
}
@media (max-width: 479px) {
  .header__logo {
    width: 120px;
  }
}
/*-------- Footer --------*/
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.footer__copyright {
  display: flex;
  align-items: center;
  margin-top: 140px;
  height: 41px;
  background-color: #ff9500;
}
.footer__copyright-text {
  font-family: "Avenir Next Ultra";
  font-size: 18px;
}
.footer__logo {
  display: block;
  width: 473px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  transition: color 0.2s ease-out;
}
.footer__logo-icon {
  width: 100%;
}
.footer__logo:hover {
  color: #ff9500;
}

@media (max-width: 1399px) {
  .footer__copyright {
    margin-top: 60px;
  }
}
@media (max-width: 989px) {
  .footer__copyright {
    margin-top: 8px;
  }
  .footer__logo {
    width: 330px;
  }
}
@media (max-width: 619px) {
  .footer__wrapper {
    height: 100px;
  }
  .footer__logo, .footer__logo-icon {
    height: 100%;
  }
  .footer__copyright {
    margin-top: 0;
  }
  .footer__copyright-text {
    font-size: 14px;
  }
  .footer__logo {
    width: 230px;
  }
}
@media (max-width: 479px) {
  .footer__logo {
    width: 200px;
  }
  .footer__copyright-text {
    font-size: 12px;
  }
}
@media (max-width: 359px) {
  .footer__link {
    font-size: 3.7vw;
  }
}
/*-------- Elements --------*/
/*-------- Button --------*/
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button--download {
  width: 250px;
  position: relative;
  z-index: 1;
}
.button--download:not(:first-child) {
  margin-left: 30px;
}

@media (max-width: 989px) {
  .button--download {
    width: 180px;
  }
}
@media (max-width: 619px) {
  .button--download {
    width: 120px;
  }
  .button--download:not(:first-child) {
    margin-left: 15px;
  }
}
/*-------- Title --------*/
.title {
  display: flex;
  flex-direction: column;
  font-family: "Gotham Book";
  font-size: 78px;
  text-transform: uppercase;
}
.title span {
  font-size: 47.5%;
}

.title--border:after {
  content: "";
  display: block;
  height: 2px;
}

.title--banner:after {
  width: 306px;
  margin-top: 45px;
  background-color: #ff9500;
}

.title--pink strong {
  color: #c9145a;
}
.title--pink:after {
  width: 368px;
  margin-top: 40px;
  background-color: #c9145a;
}

.title--green strong {
  color: #7abe43;
}
.title--green:after {
  width: 422px;
  margin-top: 60px;
  background-color: #7abe43;
}

.title--blue strong {
  color: #3f9eea;
}
.title--blue:after {
  width: 400px;
  margin-top: 64px;
  background-color: #3f9eea;
}

@media (max-width: 1399px) {
  .title {
    font-size: 68px;
  }
}
@media (max-width: 989px) {
  .title {
    font-size: 47px;
  }
  .title span {
    margin-top: 5px;
  }
  .title:after {
    margin-top: 30px;
  }

  .title--banner:after {
    width: 220px;
  }

  .title--pink:after {
    width: 219px;
  }

  .title--green:after {
    width: 191px;
  }

  .title--blue:after {
    width: 164px;
  }
}
@media (max-width: 619px) {
  .title {
    font-size: 35px;
  }
  .title:after {
    margin-top: 20px;
  }
}
/*-------- Social --------*/
.social {
  display: flex;
}
.social__item:not(:first-child) {
  margin-left: 37px;
}
.social__link {
  display: block;
}
.social__icon {
  width: 100%;
  height: auto;
  display: block;
  color: #ffffff;
  transition: color 0.2s ease-out;
}
.social__icon:hover {
  color: #3f9eea;
}

@media (max-width: 1399px) {
  .social__link {
    width: 65px;
  }
}
@media (max-width: 989px) {
  .social__link {
    width: 40px;
  }
  .social__item:not(:first-child) {
    margin-left: 16px;
  }
}
/*-------- Sections --------*/
/*-------- Banner --------*/
.banner {
  height: 960px;
  padding-top: 188px;
  background-image: url(../images/banner/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__title {
  margin-top: 86px;
  font-size: 70px;
  line-height: 1.2;
}
.banner__text {
  margin-top: 38px;
  font-family: "Gotham Book";
  font-size: 32px;
  line-height: 1.1;
}

@media (max-width: 1399px) {
  .banner {
    height: 765px;
    padding-top: 146px;
  }
  .banner__title {
    margin-top: 40px;
    font-size: 50px;
  }
  .banner__text {
    font-size: 26px;
  }
}
@media (max-width: 989px) {
  .banner {
    height: 525px;
    padding-top: 120px;
  }
  .banner__title {
    font-size: 32px;
  }
  .banner__text {
    font-size: 20px;
  }
}
@media (max-width: 619px) {
  .banner {
    height: 350px;
    padding-top: 75px;
  }
  .banner__title {
    margin-top: 20px;
    font-size: 23px;
  }
  .banner__text {
    margin-top: 20px;
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  .banner__title {
    font-size: 21px;
  }
  .banner__text {
    font-size: 14px;
  }
  .banner__column {
    width: 100%;
  }
}
/*-------- Account --------*/
.account {
  height: 532px;
  background-image: url(../images/account/account.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.account__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 95px;
}
.account__text {
  margin-top: 50px;
  font-size: 30px;
  line-height: 1.2;
}

@media (max-width: 1399px) {
  .account {
    height: 424px;
  }
  .account__wrapper {
    padding-top: 60px;
  }
  .account__text {
    font-size: 24px;
  }
}
@media (max-width: 989px) {
  .account {
    height: 291px;
  }
  .account__wrapper {
    padding-top: 50px;
  }
  .account__text {
    margin-top: 26px;
    font-size: 18px;
  }
}
@media (max-width: 619px) {
  .account {
    height: 194px;
  }
  .account__wrapper {
    padding-top: 20px;
  }
  .account__text {
    margin-top: 20px;
    font-size: 16px;
  }
}
@media (max-width: 359px) {
  .account__text {
    font-size: 15px;
  }
}
/*-------- Section --------*/
.section {
  padding-top: 57px;
  padding-bottom: 58px;
  font-family: "Gotham Book";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__wrapper:before, .section__wrapper:after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 306px;
  height: 4px;
  background-color: #ffffff;
}
.section__wrapper {
  text-align: center;
}
.section__title {
  margin-top: 41px;
  font-size: 78px;
}
.section__title strong {
  font-family: "Gotham Bold";
}
.section__text {
  margin-top: 17px;
  margin-bottom: 40px;
  font-size: 41px;
  line-height: 1.5;
}
.section__text strong {
  font-family: "Gotham Bold";
}

.section--limited {
  height: 419px;
  background-image: url(../images/sections/section1.png);
}

.section--bonus {
  height: 446px;
  background-image: url(../images/sections/section2.png);
}
.section--bonus .section__text {
  margin-top: 29px;
  margin-bottom: 50px;
  line-height: 1.2;
}
.section--bonus .section__title {
  margin-top: 49px;
}

@media (max-width: 1399px) {
  .section {
    height: 334px;
    padding-top: 49px;
  }
  .section__title {
    font-size: 50px;
  }
  .section__text {
    font-size: 27px;
  }

  .section--bonus {
    height: 355px;
  }
}
@media (max-width: 989px) {
  .section {
    height: 229px;
    padding-top: 34px;
    padding-bottom: 27px;
  }
  .section__title {
    margin-top: 26px;
    font-size: 34px;
  }
  .section__text {
    margin-top: 17px;
    margin-bottom: 25px;
    font-size: 18px;
  }

  .section--bonus {
    height: 244px;
    padding-top: 40px;
  }
  .section--bonus .section__title {
    margin-top: 26px;
  }
  .section--bonus .section__text {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 619px) {
  .section {
    height: 153px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .section__title {
    margin-top: 18px;
    font-size: 24px;
  }
  .section__text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .section--bonus {
    height: 163px;
    padding-top: 18px;
  }
  .section--bonus .section__text {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}
@media (max-width: 479px) {
  .section__text {
    font-size: 13px;
  }

  .section--bonus .section__title {
    font-size: 21px;
  }
}
@media (max-width: 359px) {
  .section__text {
    font-size: 12px;
  }

  .section--bonus .section__title {
    font-size: 20px;
  }
  .section--bonus .section__text {
    margin-top: 18px;
    margin-bottom: 21px;
  }
}
/*-------- Create --------*/
.create {
  height: 787px;
  padding-top: 168px;
  background-image: url(../images/create/create.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.create__text {
  max-width: 678px;
  margin-top: 60px;
  font-size: 30px;
  line-height: 1.2;
}

@media (max-width: 1399px) {
  .create {
    height: 627px;
    padding-top: 118px;
  }
  .create__text {
    font-size: 24px;
  }
}
@media (max-width: 989px) {
  .create {
    height: 430px;
    padding-top: 53px;
  }
  .create__text {
    margin-top: 50px;
    font-size: 18px;
    max-width: 400px;
  }
}
@media (max-width: 619px) {
  .create {
    height: 288px;
    padding-top: 30px;
  }
  .create__text {
    margin-top: 32px;
    font-size: 16px;
  }
}
@media (max-width: 359px) {
  .create__text {
    font-size: 15px;
  }
}
/*-------- Share --------*/
.share {
  height: 1102px;
  padding-top: 78px;
  background-image: url(../images/share/share.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.share__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.share__text {
  max-width: 641px;
  margin-top: 59px;
  font-size: 33px;
  line-height: 1.2;
}
.share__big-title {
  margin-top: 182px;
  font-family: "Gotham Book";
  font-size: 130px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
.share__social {
  margin-top: 44px;
}

@media (max-width: 1399px) {
  .share {
    height: 877px;
  }
  .share__text {
    font-size: 24px;
  }
  .share__big-title {
    margin-top: 124px;
    font-size: 94px;
  }
}
@media (max-width: 989px) {
  .share {
    padding-top: 50px;
    height: 603px;
  }
  .share__text {
    margin-top: 35px;
    font-size: 18px;
  }
  .share__column {
    width: 100%;
  }
  .share__social {
    margin-top: 30px;
  }
  .share__big-title {
    margin-top: 106px;
    font-size: 72px;
  }
}
@media (max-width: 767px) {
  .share__big-title {
    font-size: 64px;
  }
}
@media (max-width: 619px) {
  .share {
    padding-top: 30px;
    height: 403px;
  }
  .share__text {
    margin-top: 20px;
    font-size: 16px;
  }
  .share__big-title {
    margin-top: 35px;
    font-size: 44px;
  }
}
@media (max-width: 479px) {
  .share__big-title {
    font-size: 36px;
  }
  .share__social {
    justify-content: center;
  }
}
@media (max-width: 359px) {
  .share__big-title {
    font-size: 31px;
  }
}
/*-------- Light --------*/
.light {
  height: 1296px;
  padding-top: 94px;
  margin-top: -94px;
  padding-bottom: 41px;
  position: relative;
  background-image: url(../images/light/light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.light__wrapper {
  text-align: center;
}
.light__title {
  font-family: "Gotham Book";
  color: #ff9500;
  font-size: 65px;
}
.light__title strong {
  font-family: "Gotham Bold";
}
.light__title span {
  font-size: 77%;
}
.light__text {
  max-width: 1135px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: "Gotham Book";
  font-size: 29px;
  line-height: 1.3;
}
.light__icon {
  height: 37%;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translateX(-50%);
  mix-blend-mode: soft-light;
}
.light__icon-text {
  font-family: "Avenir Next Ultra";
  font-size: 385px;
  fill: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1399px) {
  .light {
    height: 1030px;
  }
  .light__title {
    font-size: 49px;
  }
  .light__text {
    font-size: 21px;
  }
}
@media (max-width: 989px) {
  .light {
    height: 708px;
  }
  .light__title {
    font-size: 37px;
  }
  .light__text {
    font-size: 18px;
  }
  .light__icon {
    height: 30%;
    top: 49%;
  }
}
@media (max-width: 619px) {
  .light {
    height: 472px;
    padding-top: 30px;
    margin-top: 0;
    padding-bottom: 140px;
  }
  .light__title {
    font-size: 28px;
  }
  .light__text {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  .light__title {
    font-size: 20px;
  }
}
@media (max-width: 359px) {
  .light__title {
    font-size: 19px;
  }
  .light__icon {
    height: 19%;
    top: 45%;
  }
}