@font-face {
    font-family: 'Gotham Bold';
    src: url('subset-Gotham-Bold.woff2') format('woff2'),
        url('subset-Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('subset-Gotham-Book.woff2') format('woff2'),
        url('subset-Gotham-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: url('subset-AvenirNext-UltraLight.woff2') format('woff2'),
        url('subset-AvenirNext-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
