/*-------- Account --------*/

.account {
    height: 532px;
    
    background-image: url(../images/account/account.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        padding-top: 95px;
    }

    &__text {
        margin-top: 50px;
        font-size: 30px;
        line-height: 1.2;
    }
}

@media (max-width: 1399px) {

    .account {
        height: 424px;

        &__wrapper {
            padding-top: 60px;
        }

        &__text {
            font-size: 24px;
        }
    }
}

@media (max-width: 989px) {

    .account {
        height: 291px;

        &__wrapper {
            padding-top: 50px;
        }

        &__text {
            margin-top: 26px;
            font-size: 18px;
        }
    }
}

@media (max-width: 619px) {

    .account {
        height: 194px;

        &__wrapper {
            padding-top: 20px;
        }

        &__text {
            margin-top: 20px;
            font-size: 16px;
        }
    }
}

@media (max-width: 359px) {

    .account {

        &__text {
            font-size: 15px;
        }
    }
}