/*-------- Button --------*/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
    color: #ffffff;
    text-transform: uppercase;

    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button {

    &--banner {
        height: 72px;
        padding: 0 46px;

        font-size: 25px;
        background-color: $orange;
    }

    &--banner:hover {
        background-color: #ff7300f8; 
    }
}

.button {

    &--green {
        height: 77px;
        padding: 0 82px;

        background-color: #81bb3f;
        border: 2px solid #ffffff;

        font-size: 35px;
        text-transform: unset;
    }

    &--green:hover {
        background-color: #3fbb5e;
    }
}

@media (max-width: 1399px) {

    .button {

        &--banner {
            height: 57px;
            padding: 0 25px;
            font-size: 20px;
        }
    }
}

@media (max-width: 989px) {

    .button {

        &--banner {
            height: 50px;
            font-size: 18px;
        }
    }
}

@media (max-width: 619px) {

    .button {

        &--banner {
            height: 40px;
            padding: 0 20px;
            font-size: 16px;
        }
    }
}