/*-------- Footer --------*/

.footer {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;

    &__copyright {
        display: flex;
        align-items: center;
        margin-top: 140px;
        height: 41px;
        background-color: $orange;
    }

    &__copyright-text {
        font-family: $font-av;
        font-size: 18px;
    }

    &__logo {
        display: block;
        width: 473px;

        margin-left: auto;
        margin-right: auto;

        color: #ffffff;

        transition: color 0.2s ease-out;
    }

    &__logo-icon {
        width: 100%;
    }

    &__logo:hover {
        color: $orange;
    }
}

@media (max-width: 1399px) {

    .footer {

        &__top-wrapper {
            height: 755px;
        }

        &__text {
            font-size: 60px;
        }

        .button--angle {
            width: 380px;
            margin-top: 30px;
        }
    }
}

@media (max-width: 989px) {

    .footer {

        &__top-wrapper {
            height: 470px;
        }

        &__text {
            font-size: 39px;
        }

        .button--angle {
            width: 308px;
        }

        &__logo {
            width: 300px;
        }
    }
}

@media (max-width: 767px) {

    .footer {

        &__bottom-wrapper {
            height: 120px;
        }

        &__logo {
            width: 230px;
        }

        &__link {
            font-size: 18px;
        }

        &__top-wrapper {
            height: 399px;
        }

        &__text {
            font-size: 26px;
        }

        .button--angle {
            width: 246px;
        }
    }
}

@media (max-width: 619px) {

    .footer {

        &__bottom-wrapper {
            height: 100px;
        }

        &__logo {
            width: 200px;
        }

        &__link {
            font-size: 16px;
        }
    }
}

@media (max-width: 479px) {

    .footer {

        &__logo {
            width: 120px;
        }

        &__link {
            font-size: 14px;
        }

        &__bottom-wrapper {
            height: 75px;
        }

        &__top-wrapper {
            height: 268px;
            padding-bottom: 20px;
        }

        &__text {
            font-size: 20px;
        }

        .button--angle {
            width: 169px;
            margin-top: 10px;
            margin-right: auto;
        }
    }
}

@media (max-width: 359px) {

    .footer {

        &__link {
            font-size: 3.7vw;
        }
    }
}