/*-------- Help --------*/

.help {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;

    &__column {
        width: calc(50% - 266px);
        text-align: center;
    }

    &__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__image-wrapper:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 20px;
        height: 101px;
        margin-top: 40px;

        font-family: $font-fs-rd;
        font-size: 50px;
        color: #ffffff;

        background-color: #000000;
        border-radius: 30px;
        border: 2px solid transparent;

        transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
    }

    &__link:hover {
        background-color: transparent;
        color: #000000;
        border-color: #000000;
    }

    &__text {
        margin-top: 45px;
        font-size: 30px;
        line-height: 1.3;
    }
}

@media (max-width: 1479px) {

    .help {
        padding-top: 52px;
    }
}

@media (max-width: 1479px) {

    .help {
        
        &__link {
            height: 80px;
            margin-top: 20px;
            font-size: 40px;
        }

        &__text {
            margin-top: 20px;
            font-size: 26px;
        }

        &__column {
            width: calc(50% - 170px);
        }
    }
}

@media (max-width: 990px) {

    .help {

        &__column {
            width: calc(50% - 50px);
        }

        &__link {
            height: 60px;
            font-size: 32px;
        }

        &__text {
            font-size: 22px;
        }
    }
}

@media (max-width: 767px) {

    .help {
        padding-top: 30px;
        justify-content: space-between;

        &__column {
            width: calc(50% - 20px);
        }

        &__link {
            height: 50px;
            margin-top: 15px;
            font-size: 25px;
        }

        &__text {
            font-size: 20px;
            margin-top: 10px;
        }

        &__link {
            border-radius: 15px;
        }
    }
}

@media (max-width: 619px) {

    .help {

        &__column {
            width: calc(50% - 10px);
        }

        &__link {
            height: 45px;
            font-size: 20px;
        }

        &__text {
            font-size: 18px;
        }
    }
}

@media (max-width: 479px) {

    .help {
        flex-wrap: wrap;

        &__column {
            width: 100%;
        }

        &__column:not(:first-child) {
            margin-top: 40px;
        }
    }
}