/*-------- Share --------*/

.share {
    height: 1102px;
    padding-top: 78px;

    background-image: url(../images/share/share.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__text {
        max-width: 641px;
        margin-top: 59px;
        font-size: 33px;
        line-height: 1.2;
    }

    &__big-title {
        margin-top: 182px;

        font-family: $font-book;
        font-size: 130px;
        text-align: center;
        text-transform: uppercase;

        z-index: 2;
    }

    &__social {
        margin-top: 44px;
    }
}

@media (max-width: 1399px) {

    .share {
        height: 877px;

        &__text {
            font-size: 24px;
        }

        &__big-title {
            margin-top: 124px;
            font-size: 94px;
        }
    }
}

@media (max-width: 989px) {

    .share {
        padding-top: 50px;
        height: 603px;

        &__text {
            margin-top: 35px;
            font-size: 18px;
        }

        &__column {
            width: 100%;
        }

        &__social {
            margin-top: 30px;
        }

        &__big-title {
            margin-top: 106px;
            font-size: 72px;
        }
    }
}

@media (max-width: 767px) {

    .share {

        &__big-title {
            font-size: 64px;
        }
    }
}

@media (max-width: 619px) {

    .share {
        padding-top: 30px;
        height: 403px;

        &__text {
            margin-top: 20px;
            font-size: 16px;
        }

        &__big-title {
            margin-top: 35px;
            font-size: 44px;
        }
    }
}

@media (max-width: 479px) {

    .share {

        &__big-title {
            font-size: 36px;
        }

        &__social {
            justify-content: center;
        }
    }
}

@media (max-width: 359px) {

    .share {

        &__big-title {
            font-size: 31px;
        }
    }
}