/*-------- Title --------*/

.title {
    display: flex;
    flex-direction: column;
    
    font-family: $font-book;
    font-size: 78px;
    text-transform: uppercase;
    
    span {
        font-size: 47.5%;
    }
}

.title {

    &--border:after {
        content: '';
        display: block;
        height: 2px;
    }
}

.title {

    &--banner:after {
        width: 306px;
        margin-top: 45px;
        background-color: $orange;
    }
}

.title {

    &--pink strong {
        color: #c9145a;
    }

    &--pink:after {
        width: 368px;
        margin-top: 40px;
        background-color: #c9145a;
    }
}

.title {

    &--green strong {
        color: #7abe43;
    }

    &--green:after {
        width: 422px;
        margin-top: 60px;
        background-color: #7abe43;
    }
}

.title {

    &--blue strong {
        color: #3f9eea;
    }

    &--blue:after {
        width: 400px;
        margin-top: 64px;
        background-color: #3f9eea;
    }
}